* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background: linear-gradient(white, pink) ;
}
h3 {
    text-align: center;
    margin: 5px;
}

.theme {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}
.checkbox {
    margin-left: 5px;
}
